@model SermonAudioOrganizer.Domain.Media

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Media</legend>

    <p>
        @Html.LabelFor(model => model.Name)
        @Html.DisplayFor(model => model.Name)
    </p>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
