@model SermonAudioOrganizer.Domain.Section

@{
    ViewBag.Title = "Delete Section";
}

<h2>Delete Section</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Section</legend>

    <p>
        @Html.LabelFor(model => model.Title)
        @Html.DisplayFor(model => model.Title)
    </p>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
